extends ../layout

block content
    h1.
        #{title}
    form#formAddMember(name="addMember",method="post",action="")
        p email:
            input#inputEmail(type="text", placeholder="ex. abcd@univ.ac.kr", name="email")
        p
            button#btnSubmit(type="submit") submit