extends ../layout

block content
	h1.
		Member ID #{member._id}
	form(action='/members/#{member._id}/edit',method='post',name='updateMember',enctype='application/x-www-form-urlencoded')
		p Nickname:
			input#inputNickname(type='text', value='#{member.nickname}', name='nickname')
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update