extends ../layout

block content
	h1.
		#{title}
	form#formAddMeber(name="addMember",method="post",action="/members")
		p Nickname:
			input#inputNickname(type="text", placeholder="ex. abcd1234", name="nickname")
		p Password:
			input#inputPassword(type="password", name="password")
		p major:
			input#inputMajor(type="text", name="major")
		p
			button#btnSubmit(type="submit") submit




