extends ../layout

block content
    h1.
        Board ID #{board._id}
    form(action='/boards/update/#{board._id}',method='post',name='updateBoard',enctype='application/x-www-form-urlencoded')
        p Title:
            input#inputTitle(type='text', value='#{board.title}', name='title')
        p Body:
            input#inputBody(type='text', value='#{board.body}', name='body')
        p
            button#btnSubmit(type='submit').
                Update